paths:
  models/staging/stripe/**/*.sql:
    - stripe.transactions
  models/marts/finance/**/*.sql:
    - stripe.transactions
  macros/shared/:
    - stripe.transactions

dbt:
  manifest_path: target/manifest.json
